<mat-card class="form">
  <h2>Lisää tapahtuma</h2>

  <!-- TOGGLE -->
  <div class="toggle">
    <button mat-button (click)="setType('expense')" [color]="type === 'expense' ? 'primary' : ''">
      Kulu
    </button>

    <button mat-button (click)="setType('income')" [color]="type === 'income' ? 'primary' : ''">
      Tulo
    </button>
  </div>

  <!-- EXPENSE FIELD -->
  <mat-form-field appearance="outline" *ngIf="type === 'expense'">
    <mat-label>Kategoria</mat-label>
    <input matInput [(ngModel)]="category" />
  </mat-form-field>

  <!-- INCOME FIELD -->
  <mat-form-field appearance="outline" *ngIf="type === 'income'">
    <mat-label>Lähde</mat-label>
    <input matInput [(ngModel)]="source" />
  </mat-form-field>

  <!-- AMOUNT -->
  <mat-form-field appearance="outline">
    <mat-label>Summa</mat-label>
    <input matInput type="number" [(ngModel)]="amount" />
  </mat-form-field>

  <!-- SAVE -->
  <button mat-raised-button color="primary" (click)="save()">Lisää</button>
</mat-card>
