:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  height: 100vh;
}

.form {
  width: 100%;
  max-width: 420px;
  min-height: 358px;
  margin: 10px auto;
  padding: 16px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}


.subtitle {
  text-align: center;
  margin-bottom: 16px;
  color: #777;
  font-size: 14px;
}

h2 {
  margin-bottom: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.toggle {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
}

.active-expense {
  background-color: #f44336 !important;
  color: white !important;
  font-weight: bold;
}

.active-income {
  background-color: #4caf50 !important;
  color: white !important;
  font-weight: bold;
}

.lisaa_button {
  margin-top: auto;
  min-height: 40px;
}
