<!--Tässä on if, jos ei ole budjetteja -->
@if (isBudgetEmpty) {
  <h1>Lisää ensin budjetti</h1>

  <a href="/home">Takaisin kotivalikkoon</a>
  <!-- Else jos on-->
} @else {
  <h2>Lisää tapahtuma</h2>
  <p class="subtitle">Määritä uusi meno</p>

  <mat-card class="form">
    <!-- CATEGORY (Lukittu pudotusvalikko) -->
    <mat-form-field appearance="outline">
      <mat-label>Kategoria</mat-label>
      <mat-select [(ngModel)]="category">
        <mat-option *ngFor="let cat of defaultCategories" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- AMOUNT (Lisätty min="0") -->
    <mat-form-field appearance="outline">
      <mat-label>Summa</mat-label>
      <input matInput type="number" [(ngModel)]="amount" min="0" />
    </mat-form-field>

    <!-- NOTE (optional) -->
    <mat-form-field appearance="outline">
      <mat-label>Muistiinpano</mat-label>
      <input matInput [(ngModel)]="note" />
    </mat-form-field>

    <!-- SAVE (Nappi ei ole painettavissa, jos summa < 0 tai kategoria puuttuu) -->
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="amount === null || amount < 0 || !category"
      class="lisaa_button"
    >
      Lisää
    </button>
  </mat-card>
}
