.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px 0;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-logo {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.top-bar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-bar-right button {
  color: #1f2937;
  margin-right: 20px;
}

.top-bar-right .active {
  color: #1980f4;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;

  background: white;
  border-top: 1px solid #ddd;

  padding: 8px 0;
}

.bottom-nav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #000000;
  gap: 5px;
  padding: 5px;
}

.bottom-nav button mat-icon {
  margin: 0 !important;
}

/* tumma teema */

.dark-theme {
  background-color: #5c5c5c !important;
  color: white !important;
}


.dark-theme * {
  color: inherit;
}


.dark-theme .top-bar {
  background-color: #434344;
}

.dark-theme .bottom-nav {
  background-color: #434344;
}

.dark-theme mat-icon {
  color: white;
}

.dark-theme .dashboard-card,
.dark-theme .blue-card,
.dark-theme .history-card {
  background-color: #1e1e1e !important;
  color: white !important;
}

.dark-theme .settings-card {
  background-color: #2a2a2a !important;
  color: white !important;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme p,
.dark-theme span,
.dark-theme label {
  color: white;
}

/* responsiivisuus */

@media (max-width: 600px) {
  .bottom-nav .desktoptext {
    display: none;
  }
}

.bottom-nav .active {
  color: #1980f4;
}

