<div class="dashboard-card">
  <h2>Budjetti</h2>
  <div class="dashboard-stats">
    <div class="dashboard-stat">
      <span class="stat-label">Saldo</span>
      <span class="stat-value">{{ balance$ | async | number:'1.2-2' }} €</span>
    </div>
    <div class="dashboard-stat">
      <span class="stat-label">Tulot</span>
      <span class="stat-value income">{{ income$ | async | number:'1.2-2' }} €</span>
    </div>
    <div class="dashboard-stat">
      <span class="stat-label">Menot</span>
      <span class="stat-value expense">{{ expenses$ | async | number:'1.2-2' }} €</span>
    </div>
  </div>
</div>

<!-- PIE CHART -->
<div class="blue-card">
  <app-pie-chart [transactions]="transactions$ | async"></app-pie-chart>
</div>


<div class="blue-card">
  <h2>Tapahtumat</h2>

  <div class="history-card">
    <div class="history-item" *ngFor="let t of transactions$ | async">
      <div class="history-left">
        <p class="history-title">{{ t.category }}</p>
        <p class="history-date">{{ t.date | date:'dd.MM.yyyy' }}</p>
      </div>

      <div class="history-right" [class.negative]="t.amount < 0">
  {{ t.amount }} €
</div>
    </div>
  </div>
</div>

 
<!--
<app-income-expense [transactions]="transactions$ | async"></app-income-expense>

<ul>
  <li *ngFor="let t of transactions$ | async">
    {{ t.category }} - {{ t.amount }} €
  </li>
</ul>
-->



<div class="test-container" style="padding: 20px; border: 1px solid #ccc; border-radius: 8px">
  <h3>Tietokantayhteyden testaus</h3>

  <button
    (click)="testaaYhteys()"
    [disabled]="isLoading"
    style="padding: 10px 20px; cursor: pointer"
  >
    {{ isLoading ? 'Testataan...' : 'Paina tästä testataksesi yhteys' }}
  </button>

  <div
    style="margin-top: 20px; padding: 10px; border-radius: 4px"
    [style.backgroundColor]="isError ? '#ffd2d2' : '#d2ffd2'"
    *ngIf="connectionStatus !== 'Ei testattu'"
  >
    <strong>Status:</strong> {{ connectionStatus }}
  </div>
</div>
