.login-container {
  width: 320px;
  margin: 100px auto;
}

mat-card {
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 12px;
}

.logo {
width: 200px;
  display: block;
  margin: -60px auto 0 auto; 
}
