/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  background-color: #8bc1eb;
} */

@import '@aws-amplify/ui/dist/styles.css';

.amplify-tabs__item:hover {
  color: #1980f4 !important;
}
.amplify-button--primary {
  background-color: #1980f4;
}

/*tumma teema*/

.dark-theme .dashboard-card {
  background: #1a1d25 !important;
  color: white !important;
}

.dark-theme .blue-card,
.dark-theme .history-card {
  background-color: #1a1d25 !important;
  color: white !important;
}

.dark-theme .settings-card {
  background-color: #1a1d25 !important;
  color: white !important;
}

.dark-theme .profile-card {
  background-color: #1a1d25 !important;
  color: white !important;
}

.dark-theme .logout {
  background-color: #a21717 !important;
  box-shadow: 0 16px 30px rgba(123, 3, 3, 0.22) !important;
}

.dark-theme {
  --text-color: white;
  --muted-text: rgb(186, 186, 186);
  --card-bg: #1a1d25;
}

.dark-theme .bottom-nav {
  border-top: none !important;
}

.dark-theme .top-bar {
  border-bottom: none !important;
}

.dark-theme .form {
  background: var(--card-bg) !important;
  color: var(--text-color) !important;
}

.dark-theme .form input,
.dark-theme .form textarea {
  color: var(--text-color) !important;
}

.dark-theme .subtitle {
  color: var(--muted-text) !important;
}

.dark-theme .lisaa_button {
  background-color: #fff !important;
  color: #000 !important;
}

.dark-theme form {
  background: #1a1d25 !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

/* Globaali styles.css */

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Angular Material Modaalin tumma tausta */
body.dark-theme .mat-mdc-dialog-surface {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

/* Material Input -kenttien tekstit tummassa teemassa */
body.dark-theme .mdc-text-field--outlined .mdc-notched-outline {
  border-color: rgba(255, 255, 255, 0.3);
}
body.dark-theme .mat-mdc-form-field-input-control {
  color: #ffffff !important;
}
body.dark-theme .mat-mdc-select-value-text {
  color: #ffffff !important;
}
